@font-face {
	font-family: 'EuropeExt';
    src: url('europeext-bold.woff2') format('woff2'), 
         url('europeext-bold.woff') format('woff');
	font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: 'EuropeExt';
    src: url('europeext-normal.woff2') format('woff2'), 
         url('europeext-normal.woff') format('woff');
	font-weight: 400;
    font-style: normal;
}
